main {
    font-size: 1.2rem;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    color: #4b4b4b;
    text-decoration: none;
}

.top-right>ul {
    height: 1.8rem;
    line-height: 1.8rem;
    margin: 0;
    padding: 0;
}

.top-right>ul li {
    float: left;
    padding: 0 1rem;
    border-right: 0.1rem solid #ddd;
}

.top-right>ul li:first-child {
    border-left: 0.1rem solid #ddd;
}

.top-right>ul li:nth-child(4)>a {
    padding: 0 1.5rem;
    background: url(../../../public/img/header/icon_code_s.png) no-repeat 0rem center
}

.top-right>ul li:nth-child(5)>a {
    color: #008000;
}

.top-right>ul li a:hover {
    color: orangered;
}

.top-left span:nth-child(1) {
    color: #bbb;
}

.top-left span:nth-child(2) {
    margin-left: 2rem;
}

@media screen and (min-width:992px) {
    .top {
        width: 68%;
        margin: 0 auto;
        padding: 0.5rem 0;
    }
    .top:after {
        content: "";
        display: block;
        clear: both;
    }
    .top-left {
        float: left;
    }
    .top-right {
        float: right;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .top {
        width: 68%;
        margin: 0 auto;
        padding: 0.5rem 0;
    }
    .top:after {
        content: "";
        display: block;
        clear: both;
    }
    .top-left {
        float: left;
    }
    .top-right {
        float: right;
    }
    .top-right>ul li:nth-child(4) {
        display: none;
    }
    .top-right>ul li:nth-child(5) {
        display: none;
    }
}

/* @media screen and (min-width:576px) and (max-width:767px) {
    .top {
        width: 100%;
        margin: 0 auto;
        padding: 0.5rem 0;
    }
    .top-left {
        width: 300px;
        margin: auto;
    }
    .top-right {
        width: 300px;
        margin: auto;
        margin-top: 15px;
    }
    .top-right>ul li:nth-child(4) {
        display: none;
    }
} */

@media screen and (max-width:767px) {
    .top {
        width: 100%;
        margin: 0 auto;
        padding: 0.5rem 0;
    }
    .top-left {
        width: 375px;
        margin: auto;
    }
    .top-right {
        width: 375px;
        margin-left: 0.1rem;
        margin: auto;
        margin-top: 15px;
    }
    .top-right>ul li:nth-child(4) {
        display: none;
    }
    .top-right>ul li {
        padding: 0 1.95rem;
    }
}