main {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    color: #4b4b4b;
    text-decoration: none;
}

.top-parent{
    background-color: #FAFAFA;
    opacity: 0.8;
}

.top-right>ul, .top-menu>ul {
    margin: 0;
    padding: 0;
}

.top-menu{
    z-index: 4000;
}

.top-menu>ul li {
    padding: 1rem 0;
}

.top-menu>ul li a{
    color: #000;
}

.top-right>ul li:nth-child(4)>a {
    padding: 0 1.5rem;
    background: url('../../../public/img/header/icon_code_s.png') no-repeat 0rem center
}

.top-right>ul li:nth-child(5)>a {
    color: #008000;
}

ul li a:hover {
    color: orangered;
}

.top-left span:nth-child(1) {
    color: #bbb;
}

.top-left span:nth-child(2) {
    margin-left: 2rem;
}

.carousel {
    width: 100%;
    margin: auto;
}

.carousel>img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.center {
    width: 95%;
    margin: 0 auto;
    margin-top: 2rem;
}
.center::after{
    content: "";
    display: block;
    clear: both;
}
.center>div.logodiv,
.center>div.search,
.center>div.cart,
.center>div.saoma{
    float: left;
    border-left: 0;
    border-right: 0;
}
.center>div.logodiv{
    width: 30%;
}
.center>div.search{
    width: 45%;
    height: 40px;
    display: flex;
}
.center>div.cart{
    width: 15%;
}
.center>div.saoma{
    width: 10%;
    text-align: right;
}
.center>div.logodiv>a.logo {
    display: block;
    height: 3.83rem;
    margin-top: -0.4rem;
    background: url("../../../public/img/header/logo.png") no-repeat center center;
}
.center>div.search>input{
    width: 75%;
    height: 2.08rem;
    padding-left: 1rem;
    margin-left: 2rem;
}
.center>div.search>a{
    display: inline-block;
    width: 13%;
    height: 2.6rem;
    line-height: 2.6rem;
    margin-left: -0.1rem;
    background-color: #fb1116;
    overflow: hidden;
    color: #ffffff;
}
.center>div.cart>span{
    display: inline-block;
    width: 10.83rem;
    height: 2.67rem;
    line-height: 2.67rem;
    background: url(../../../public/img/header/icon-shop.png) no-repeat 1.3rem center;
    background-color: #eee;
    cursor: pointer;
    border-radius: 2%;
    overflow: hidden;
}
.center>div.cart>span>a{
    margin-left: 2.5rem;
}
.center>div.saoma>img{
    cursor: pointer;
}

.nav{
    margin-top: 0rem;
}

.nav>ul{
    width: 60%;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.nav>ul li>a{
    color: #4b4b44;
    font-size: 1.4rem;
    font-weight: bold;
}

.nav>ul li a:hover {
    color: orangered;
}

.register,.login{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 91.67rem;
    background-color: rgba(100, 100, 100, 0.5);
    z-index: 9999;
}

.register>.register-dialog,
.login>.login-dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 570px;
    margin-left: -20%;
    margin-top: -250px;
    background-color: #fff;
}

.register>.register-dialog>span,
.login>.login-dialog>span{
    position: absolute;
    top: 0.42rem;
    right: 0.42rem;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    background: url(../../../public/img/header/window_close_gray.png) no-repeat center center;
    background-size: contain;
    cursor: pointer;
}

.register>.register-dialog>span:hover,
.login>.login-dialog>span:hover{
    background: url(../../../public/img/header/window_close.png) no-repeat center center;
}

.register>.register-dialog>ul,
.login>.login-dialog>ul{
    padding: 0;
}

.register>.register-dialog>ul li,
.login>.login-dialog>ul li{
    padding: 0.8rem 0;
}

.register>.register-dialog>ul p{
    width: 25.8rem;
    margin: auto;
    text-align: left;
}

.register>.register-dialog>ul>li.phone-number>span,
.login>.login-dialog>ul>li.phone-number>span{
    background: url(../../../public/img/header/register_04.png) no-repeat center center #aaa;
}

.register>.register-dialog>ul>li.password>span,
.login>.login-dialog>ul>li.password>span{
    background: url(../../../public/img/header/register_02.png) no-repeat center center #aaa;
}

.register>.register-dialog>ul>li.confirm-password>span{
    background: url(../../../public/img/header/register_02.png) no-repeat center center #aaa;
}

.register>.register-dialog>ul>li>span,
.login>.login-dialog>ul>li>span{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0.24rem;
    background-color: #aaa;
}

.register>.register-dialog>ul>li>i{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0.22rem;
    background: url(../../../public/img/header/login_right.png) no-repeat center 5px;
}

.register>.register-dialog>ul>li>input,
.login>.login-dialog>ul>li>input{
    width: 260px;
    height: 40px;
    padding-left: 0.5rem;
    margin-left: -0.1rem;
    outline: 0;
}

.register>.register-dialog>ul>li.check-code>span{
    display: inline-block;
    width: 80px;
    height: 40px;
    line-height: 40px;
    padding: 0.24rem;
    background-color: #fd7400;
    color: #fff;
    margin-left: -0.1rem;
    cursor: pointer;
}

.register>.register-dialog>ul>li.check-code>input{
    width: 220px;
    height: 40px;
}

.register>.register-dialog>ul>li>a>div.register-btn,
.login>.login-dialog>ul>li>a>div.login-btn{
    width: 318px;
    height: 50px;
    line-height: 50px;
    background-color: #fd7400;
    margin: auto;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
}

.register>.register-dialog>ul p>span{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    background: url(../../../public/img/header/login_error.png) no-repeat left center;
    background-size: cover;
}

@media screen and (min-width:1200px) {
    .top {
        width: 95%;
        margin: 0 auto;
        padding: 0.7rem 0;
    }
    .top:after {
        content: "";
        display: block;
        clear: both;
    }
    .top-left {
        float: left;
    }
    .top-left>img#menu {
        display: none;
    }
    .top-left>span#title {
        display: none;
    }
    .top-right {
        float: right;
    }
    .top-menu {
        display: none;
    }
    .top-right>ul li {
        float: left;
        padding: 0 1rem;
        border-right: 0.1rem solid #ddd;
    }
    .top-right>ul:after {
        content: "";
        display: block;
        clear: both;
    }
}

@media screen and (min-width:768px) and (max-width:1199px){
    .top {
        width: 80%;
        margin: 0 auto;
        padding: 0.7rem 0;
    }
    .top:after {
        content: "";
        display: block;
        clear: both;
    }
    .top-left {
        float: left;
    }
    .top-left>img#menu {
        display: none;
    }
    .top-left>span#title {
        display: none;
    }
    .top-right {
        float: right;
    }
    .top-menu {
        display: none;
    }
    .top-right>ul li {
        float: left;
        padding: 0 1rem;
        border-right: 0.1rem solid #ddd;
    }
    .top-right>ul:after {
        content: "";
        display: block;
        clear: both;
    }
    .center>div.logodiv{
        width: 30%;
    }
    .center>div.search{
        width: 55%;
    }
    .center>div.cart{
        width: 15%;
    }
    .center>div.saoma{
       display: none;
    }
    .nav{
        margin-top: 1rem;
    }
    .nav>ul{
        width: 70%;
    }
    .register>.register-dialog,
    .login>.login-dialog{
        width: 60%;
        height: 570px;
        margin-left: -30%;
        margin-top: -250px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .top {
        width: 80%;
        margin: 0 auto;
        padding: 0.7rem 0;
    }
    .top:after {
        content: "";
        display: block;
        clear: both;
    }
    .top-left {
        float: left;
    }
    .top-left>img#menu {
        display: none;
    }
    .top-left>span#title {
        display: none;
    }
    .top-right {
        float: right;
    }
    .top-menu {
        display: none;
    }
    .top-right>ul li {
        float: left;
        padding: 0 1rem;
        border-right: 0.1rem solid #ddd;
    }
    .top-right>ul:after {
        content: "";
        display: block;
        clear: both;
    }
    .top-right>ul li:nth-child(4) {
        display: none;
    }
    .top-right>ul li:nth-child(5) {
        display: none;
    }
    .center {
        width: 100%;
    }
    .center>div.logodiv{
        width: 30%;
    }
    .center>div.logodiv>a.logo{
        background-size: 100%;
    }
    .center>div.search{
        width: 50%;
    }
    .center>div.cart{
        width: 20%;
    }
    .center>div.cart>span{
        width: 9.17rem;
    }
    .center>div.saoma{
       display: none;
    }
    .nav{
        margin-top: 1rem;
    }
    .nav>ul{
        width: 85%;
    }
    /* .register,
    .login{
        position: fixed;
    } */
    .register>.register-dialog,
    .login>.login-dialog{
        width: 70%;
        height: 570px;
        margin-left: -35%;
        margin-top: -250px;
    }
}

@media screen and (max-width:575px) {
    .top {
        width: 100%;
        padding: 0.8rem 0.5rem;
        background-color: #ddd;
        position: relative;
    }
    .top-left {
        width: 100%;
        position: relative;
    }
    .top-left span#title {
        font-size: 1.3rem;
        font-weight: bold;
    }
    .top-left img {
        position: absolute;
        top: 0;
        left: 0;
    }
    .top-left span:nth-child(1), .top-left span:nth-child(2), .top-left span:nth-child(3) {
        display: none;
    }
    .top-right {
        display: none;
    }
    .top-right>ul li {
        padding: 0.8rem 1.3rem;
        border: 0;
    }
    .top-menu {
        width: 0;
        height: 0;
        overflow: hidden;
        position: absolute;
        z-index: 3005;
        top: 2.8rem;
        left: 0;
        background-color: #eee;
        opacity: 0.85;
        transition: height 0.3s linear;
    }
    .center {
        width: 100%;
    }
    .center>div.logodiv{
        display: none;
    }
    .center>div.search{
        width: 100%;
        margin-left: -0.8rem;
    }
    .center>div.search>input{
        border: 1px solid #ddd;
        padding: 0.2rem 1rem;
    }
    .center>div.cart{
        display: none;
    }
    .center>div.saoma{
       display: none;
    }
    .nav{
        margin-top: 0.5rem;
    }
    .nav>ul{
        width: 29.6rem;
        flex-wrap: wrap;
        border: 1px solid #ddd;
    }
    .nav>ul li{
        width: 7.5rem;
        height: 2.1rem;
        line-height: 2.1rem;
    }
    .nav>ul li>a{
        font-size: 1rem;
    }
    .register>.register-dialog,
    .login>.login-dialog{
        width: 100%;
        height: 570px;
        margin-left: -50%;
        margin-top: -320px;
    }
}