main {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    color: #4b4b4b;
    text-decoration: none;
}

.top-right>ul {
    margin: 0;
    padding: 0;
}

.top-right>ul li:nth-child(4)>a {
    padding: 0 1.5rem;
    background: url('../../../public/img/header/icon_code_s.png') no-repeat 0rem center
}

.top-right>ul li:nth-child(5)>a {
    color: #008000;
}

.top-right>ul li a:hover {
    color: orangered;
}

.top-left span:nth-child(1) {
    color: #bbb;
}

.top-left span:nth-child(2) {
    margin-left: 2rem;
}

.carousel{
    border: 1px solid blue;
    width: 100%;
    height: 118px;
}
.carousel>img{
    width: 100%;
    vertical-align: middle;
}

@media screen and (min-width:992px) {
    .top {
        width: 68%;
        margin: 0 auto;
        padding: .7rem 0;
    }
    .top:after {
        content: "";
        display: block;
        clear: both;
    }
    .top-left {
        float: left;
    }
    .top-left>img#menu {
        display: none;
    }
    .top-left>span#title {
        display: none;
    }
    .top-right {
        float: right;
    }
    .top-right>ul li {
        float: left;
        padding: 0 1rem;
        border-right: 0.1rem solid #ddd;
    }
    .top-right>ul:after {
        content: "";
        display: block;
        clear: both;
    }
}

@media screen and (min-width:576px) and (max-width:991px) {
    .top {
        width: 68%;
        margin: 0 auto;
        padding: .7rem 0;
    }
    .top:after {
        content: "";
        display: block;
        clear: both;
    }
    .top-left {
        float: left;
    }
    .top-left>img#menu {
        display: none;
    }
    .top-left>span#title {
        display: none;
    }
    .top-right {
        float: right;
    }
    .top-right>ul li {
        float: left;
        padding: 0 1rem;
        border-right: 0.1rem solid #ddd;
    }
    .top-right>ul:after {
        content: "";
        display: block;
        clear: both;
    }
    .top-right>ul li:nth-child(4) {
        display: none;
    }
    .top-right>ul li:nth-child(5) {
        display: none;
    }
}

/* @media screen and (min-width:576px) and (max-width:767px) {
    .top {
        width: 68%;
        margin: 0 auto;
        padding: 1rem 0;
    }
    .top:after {
        content: "";
        display: block;
        clear: both;
    }
    .top-left {
        float: left;
    }
    .top-left>img#menu {
        display: none;
    }
    .top-left>span#title {
        display: none;
    }
    .top-right {
        float: right;
    }
    .top-right>ul li {
        float: left;
        padding: 0 1rem;
        border-right: 0.1rem solid #ddd;
    }
    .top-right>ul:after {
        content: "";
        display: block;
        clear: both;
    }
    .top-right>ul li:nth-child(4) {
        display: none;
    }
    .top-right>ul li:nth-child(5) {
        display: none;
    }
} */

@media screen and (max-width:575px) {
    .top {
        width: 100%;
        padding: 0.5rem 0.5rem;
        background-color: #ddd;
        border: 1px solid red;
        position: relative;
    }
    .top-left {
        width: 100%;
        position: relative;
    }
    .top-left span#title{
        font-size: 1.3rem;
        font-weight: bold;
    }
    .top-left img{
        position: absolute;
        top: 0;left: 0;
    }
    .top-left span:nth-child(1), .top-left span:nth-child(2), .top-left span:nth-child(3) {
        display: none;
    }
    .top-right {
        margin-top: 0.5rem;
        margin-left: -0.5rem;
        position: absolute;
        background-color: #eee;
        opacity: .65;
        /* display: none; */
    }
    .top-right>ul li{
        padding: 1rem 1.3rem;
        border: 0;
    }
    .carousel img{
        height: 40px;
    }
}