.index-container {
    position: relative;
}

.index-container>.carousel {
    width: 100%;
    margin: auto;
    margin-top: 1.5rem;
}

.index-container>.carousel>ul {
    padding: 0;
}

/* .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
} */

.index-container .menu-extend {
    position: absolute;
    top: -1.5rem;
    left: 26rem;
    z-index: 9999;
}

.index-container .menu-extend>.title {
    width: 18rem;
    height: 3rem;
    line-height: 3rem;
    background-color: #fb1116;
    color: #fff;
}

.index-container .menu-extend>ul {
    padding: 0;
    margin: 0;
    background-color: #fff;
}

.index-container .menu-extend>ul li {
    padding: 0.9rem 0;
}

.index-container .menu-extend>ul li:hover {
    background-color: #F2F2F2;
    opacity: 0.85;
}

.index-container .menu-extend>ul li>a>p {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding-top: 0.5rem;
}

.index-container .menu-extend>ul li>a>a {
    font-size: 1.3rem;
    font-weight: bold;
}

.index-container .menu-extend>ul li>a>p span {
    color: #99a9bf;
}

.index-container .menu-extend-copy {
    position: absolute;
    top: 0;
    left: 44rem;
    z-index: 9999;
    width: 45%;
    height: 37.5rem;
    background-color: #fff;
    text-align: left;
}

.index-container .menu-extend-copy>ul {
    padding: 0;
    margin-top: 3rem;
    margin-left: 1rem;
}

.index-container .menu-extend-copy>ul>a {
    font-size: 1.6rem;
    font-weight: bold;
}

.index-container .menu-extend-copy>ul>a:hover {
    color: orangered;
}

.index-container .menu-extend-copy>ul>li {
    padding-bottom: 4rem;
}

.index-container .menu-extend-copy>ul>li a {
    color: #99a9bf;
    font-size: 1.2rem;
    padding-right: 1.5rem;
}

.index-container .menu-extend-copy>ul>li>a>span {
    color: #6B6B6B;
    font-weight: bold;
}

.index-container>.ad {
    width: 86.5%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 2rem;
}

.index-container>.new-pros {
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    margin: auto;
    margin-top: 1.5rem;
}

.index-container>.new-pros>.new-pro-carousel {
    width: 100%;
}

.index-container>.new-pros>.new-pro-carousel .new-pro>ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    border: 1px solid #ddd;
    overflow: hidden;
}

.index-container>.new-pros>.new-pro-carousel .new-pro>ul li {
    width: 18rem;
    border-right: 1px solid #ddd;
    height: 26rem;
    padding-bottom: 0.5rem;
}

.index-container>.new-pros>.new-pro-carousel .new-pro>ul li>img {
    width: 18rem;
}

.index-container>.new-pros>.new-pro-carousel .new-pro>ul li>p {
    margin-top: 3rem;
}

.index-container>.new-pros>.new-pro-carousel .new-pro>ul li>div {
    display: flex;
    height: 2rem;
    line-height: 2rem;
}

.index-container>.new-pros>.new-pro-carousel .new-pro>ul li>div span, .index-container>.new-pros>.new-pro-carousel .new-pro>ul li>div s {
    margin: auto;
    display: block;
    color: #fff;
    border: 1px solid #fb1116;
    width: 7rem;
    height: 2rem;
}

.index-container>.new-pros>.new-pro-carousel .new-pro>ul li>div span.price {
    background-color: #f4311d;
}

.index-container>.new-pros>.new-pro-carousel .new-pro>ul li>div span.price>a {
    color: #fff;
    font-size: 1.5rem;
}

.index-container>.new-pros>.new-pro-carousel .new-pro>ul li>div s.discount {
    border: 1px solid #fb1116;
    color: #6B6B6B;
}

.index-container>.life {
    margin-top: 4rem;
}

.index-container>.life>div.title>div {
    font-size: 3.5rem;
    background: url(../../../public/img/index/bj-tt.png) no-repeat center center;
}

.index-container>.life>div.title>p {
    color: #04ae00;
}

.index-container>.life>div.title>p>span {
    color: #fb1116;
    margin-left: 2rem;
}

.index-container>.life>.fruit{
    width: 90%;
    height: 30rem;
    background: url(../../../public/img/index/ht_01.jpg) no-repeat center center;
    /* background-size: 100%; */
}

@media screen and (min-width:1200px) {}

@media screen and (min-width:768px) and (max-width:1199px) {
    .index-container .menu-extend {
        left: 15rem;
    }
    .index-container .menu-extend-copy {
        left: 33rem;
    }
    .index-container>.ad {
        width: 80%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    .index-container>.ad>a>img {
        width: 200px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .index-container .menu-extend {
        left: 4rem;
    }
    .index-container .menu-extend-copy {
        left: 22rem;
    }
    .index-container>.ad {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .index-container>.ad a {
        padding: 0.5rem 0;
    }
}

@media screen and (max-width:575px) {
    .index-container .menu-extend {
        display: none;
    }
    .index-container>.ad {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}