.index-container {
    position: relative;
}

.index-container>.carousel {
    width: 100%;
    margin: auto;
    margin-top: 1.5rem;
}

.index-container>.carousel>ul {
    padding: 0;
}

/* .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
} */

.menu{
    position: absolute;
    top: -2.8rem;
    left: 13%;
    z-index: 9999;
    display: flex;
}

.menu-extend>.title {
    width: 18rem;
    height: 3rem;
    line-height: 3rem;
    background-color: #fb1116;
    color: #fff;
}

.menu-extend>ul {
    padding: 0;
    margin: 0;
    background-color: #fff;
}

.menu-extend>ul li {
    padding: 0.88rem 0;
}

.menu-extend>ul li:hover {
    background-color: #F2F2F2;
    opacity: 0.85;
}

.menu-extend>ul li>a>p {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding-top: 0.5rem;
}

.menu-extend>ul li>a>a {
    font-size: 1.2rem;
    font-weight: bold;
}

.menu-extend>ul li>a>p span {
    color: #99a9bf;
    font-size: 1rem;
}

.menu-extend-copy {
    width: 66%;
    height: 38rem;
    background-color: #fff;
    text-align: left;
    margin-top: 2.5rem;
}

.menu-extend-copy>ul {
    padding: 0;
    margin-top: 3rem;
    margin-left: 1rem;
}

.menu-extend-copy>ul>a {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu-extend-copy>ul>a:hover {
    color: orangered;
}

.menu-extend-copy>ul>li {
    padding-bottom: 4rem;
}

.menu-extend-copy>ul>li a {
    color: #99a9bf;
    font-size: 1.02rem;
    padding-right: 1.5rem;
}

.menu-extend-copy>ul>li>a>span {
    color: #6B6B6B;
    font-weight: bold;
}

.index-container>.ad {
    width: 91.5%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 2rem;
}

.index-container>.new-pros {
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    margin: auto;
    margin-top: 1.5rem;
}

.index-container>.new-pros>.new-pro-carousel {
    width: 100%;
}

.index-container>.new-pros>.new-pro-carousel .new-pro>ul {
    display: flex;
    margin: 0;
    padding: 0;
    border: 1px solid #ddd;
    border-right: 0;
    overflow: hidden;
}

.index-container>.new-pros>.new-pro-carousel .new-pro>ul li {
    width: 20%;
    min-width: 14.6rem;
    border-right: 1px solid #ddd;
    height: 26rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
}

.index-container>.new-pros>.new-pro-carousel .new-pro>ul li>a>img {
    width: 16rem;
    margin-top: 2rem;
}

.index-container>.new-pros>.new-pro-carousel .new-pro>ul li>a>p {
    margin-top: 1.5rem;
    font-size: 1.2rem;
}

.index-container>.new-pros>.new-pro-carousel .new-pro>ul li>div{
    margin-top: 1rem;
}

.index-container>.new-pros>.new-pro-carousel .new-pro>ul li>div {
    display: flex;
    height: 2rem;
    line-height: 2rem;
    margin-top: 1.8rem;
}

.index-container>.new-pros>.new-pro-carousel .new-pro>ul li>div span, .index-container>.new-pros>.new-pro-carousel .new-pro>ul li>div s {
    margin: auto;
    display: block;
    color: #fff;
    border: 1px solid #fb1116;
    width: 7rem;
    height: 2rem;
    margin-top: 1rem;
}

.index-container>.new-pros>.new-pro-carousel .new-pro>ul li>div span.price {
    background-color: #f4311d;
}

.index-container>.new-pros>.new-pro-carousel .new-pro>ul li>div span.price>a {
    color: #fff;
    font-size: 1.3rem;
}

.index-container>.new-pros>.new-pro-carousel .new-pro>ul li>div s.discount {
    border: 1px solid #fb1116;
    color: #6B6B6B;
}

.index-container>.life {
    margin-top: 4rem;
}

.index-container>.life>div.title>div {
    font-size: 2.8rem;
    background: url(../../../public/img/index/bj-tt.png) no-repeat center center;
}

.index-container>.life>div.title>p {
    color: #04ae00;
}

.index-container>.life>div.title>p>span {
    color: #fb1116;
    margin-left: 2rem;
}

.index-container>.life>.fruit{
    margin-top: 2rem;
}

.index-container>.life>.fruit>.fruit_nav{
    width: 90%;
    margin: 0 auto;
}

.index-container>.life>.fruit>.fruit_nav>img{
    width: 100%;
}

.index-container>.life>.fruit>.fruitlist{
    width: 90%;
    height: 44rem;
    margin: auto;
    margin-top: 2rem;
    background: url(../../../public/img/index/ht_bj01.jpg) no-repeat center center;
    background-size: 120% 100%;
}

.index-container>.life>.fruit>.fruitlist>ul.card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0;
}

.index-container>.life>.fruit>.fruitlist>ul.card li{
    width: 16%;
    background-color: #fff;
    padding-bottom: 1rem;
}

.index-container>.life>.fruit>.fruitlist>ul.card>li>a>img{
    width: 85%;
}

.index-container>.life>.fruit>.fruitlist>ul.card>li>a>p{
    font-size: 1.2rem;
    margin-top: -0.05rem;
}

.index-container>.life>.fruit>.fruitlist>ul.card>li>div>span.price{
    color: #fb1116;
    font-size: 1.3rem;
}

.index-container>.life>.fruit>.fruitlist>ul.card>li>div{
    display: flex;
    justify-content: space-around;
    height: 1.5rem;
    line-height: 1.5rem;
}

.index-container>.life>.fruit>.fruitlist>ul.card>li>div>span.price>a{
    color: #fb1116;
    font-size: 1.6rem;
}

@media screen and (min-width:1200px) {}

@media screen and (min-width:992px) and (max-width:1199px) {
    .index-container>.ad {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    .index-container>.ad>a>img {
        width: 18rem;
    }
    .index-container>.life>.fruit>.fruitlist{
        height: 38rem;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .index-container>.ad {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    .index-container>.ad>a>img {
        width: 18rem;
    }
    .index-container>.life>.fruit>.fruitlist>ul.card li{
        width: 24%;
    }
    .index-container>.life>.fruit>.fruitlist{
        height: 67rem;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .menu{
        left: 4%;
    }
    .index-container>.ad {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .index-container>.ad a {
        padding: 0.5rem 0;
    }
    .index-container>.life>.fruit>.fruitlist>ul.card li{
        width: 26.7%;
    }
    .index-container>.life>.fruit>.fruitlist{
        height: 78rem;
    }
}

@media screen and (max-width:575px) {
    .index-container>.carousel{
        margin-top: -0.5rem;
    }
    .index-container .menu-extend {
        display: none;
    }
    .index-container>.ad {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .index-container>.life>.fruit>.fruit_nav{
        width: 100%;
    }
    .index-container>.new-pros {
        width: 100%;
    }
    .index-container>.life>.fruit>.fruitlist>ul.card li{
        width: 45%;
    }
    .index-container>.life>.fruit>.fruitlist>ul.card>li>a>img{
        width: 70%;
    }
    .index-container>.life>.fruit>.fruitlist{
        height: 101rem;
        background-image: url();
    }
}